# Builder.io
BUILDER_PUBLIC_KEY=
NEXT_PUBLIC_BUILDER_PUBLIC_KEY=

# Shopify Storefront API
SHOPIFY_STORE_DOMAIN=displaycellpros.myshopify.com
SHOPIFY_STOREFRONT_API_TOKEN=
NEXT_PUBLIC_SHOPIFY_STOREFRONT_API_TOKEN=

# Shopify Customer Account API
SHOPIFY_CUSTOMER_ACCOUNT_API_CLIENT_ID=
SHOPIFY_CUSTOMER_ACCOUNT_API_SHOP_ID=

# Canonical site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000
